.header-img {
    display: grid;
    margin: 20px 300px 20px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
}

.h-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    margin: 0;
}

.h-desc {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    margin: 0;

}

.m-p1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}

.m-p2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.m-p3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.m-i1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.m-i2 {
    display: flex;
    margin: 20px 300px 20px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
}

.m-p4 {
    margin: 0 100px 0 0;
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.m-p5 {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.m-b1 {
    width: 120px;
    height: 24px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
}

.hotelpark {
    padding: 30px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1280px;
    height: 400px;
    margin: 0 auto;
}

.park-title {
    color: black;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding-top: 10px;
}

.park-desc {
    color: red;
    font-size: 32px;
    font-weight: 600;
}

.park-content {
    text-align: center;
}

.btn-park {
    margin-top: 10px;
    border-radius: 8px;
    background: red;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: white;
}




/* ---------------------------------------------------- */

.m-i4 {
    margin: 100px 280px 20px;
    display: flex;
    align-items: center;

}

.m-i4-ul1 p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.m-i4-i {
    padding: 20px;
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    margin-left: 100px;
    margin-right: 100px;
    border: 15px solid #F00;
    border-radius: 100%;
    border-color: red;

}

.m-i4-ul2 p {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.m-i4-ul2 h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ---------------------------------------------------- */

.m-i5 {
    margin-top: 100px;
    text-align: center;
}

.m-i5 ul h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.m-i5 h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.m-i5 p {
    margin: auto;
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.m-i5-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.discount {
    position: relative;
    left: 0;
    bottom: 350px;
}

.girl {
    position: relative;
    left: 600px;
    bottom: 300px;
}

.border {
    position: relative;
    top: 366px;
    left: 252px;
}

.gift {
    height: 400px;
    width: 500px;
    position: relative;
    right: 1000px;
    top: 300px;
}

/* ----------------------------------------------------- */


.m-i6 {
    margin: 20px 300px 20px;
}

.m-ht {

    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.m-16-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.m-16-desc {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.m-i6 div {
    display: flex;
    justify-content: space-between;
}

.m-i6 div img {
    margin: 10px 10px 10px;
}


/* ------------------------------ */
section {
    text-align: center;
    margin: 20px 300px 20px;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

}

section h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

section p {
    /* width: 896px; */
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.table {
    display: table;
    text-align: center;
}

div.t {
    text-align: center;
    display: table-cell;
    width: 100%;
}

div.t>input {
    text-align: center;
    width: 100%;
}

/* ---------------------------------- */

.footer {
    margin-top: 150px;
    background: #070211;
    width: 100%;
    height: 609px;
    flex-shrink: 0;
}

.f1 {
    display: flex;
    margin: 20px 300px 20px;
    justify-content: space-between;
    color: #FFF;
}

.fp {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 375px;
    height: 80px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.f-icons {
    width: 24px;
    height: 24px;
}

.details {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    color: #fff;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.footer-hr {
    width: 1800px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}

.footer-icons {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.fp1 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}